
.DS_Store
Notebooks/Figures/Pandas.graffle
Notebooks/Figures/ConfusionMatrix.graffle
Notebooks/.ipynb_checkpoints/Homework1-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/8.Cross-Validation-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/7.Overfitting_vs._Underfitting-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/6.Materials_Databases-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/9.Regularization-checkpoint.ipynb
